body {
	font: 16px/1.5 sans-serif;
	background-color: #ccc;
}

#container {
	width: 400px;
	margin: 0px auto;
	background-color: #fff;
	box-shadow: 3px 3px 5px -1px #555;
	padding: 1em;
}

#list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#list li {
	padding: 1em;
	border: 1px outset #ccc;
	margin-bottom: 0.5em;
}